<footer class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-light" style="background-color:#555599;" "position: absolute;">
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <div class="small">    
            <p style="color:white">© TOMOE KITAZUMI 2019</p>
        </div>
    </div>
  </nav>
</footer>